@{
    Layout = null;
}

@model GS2_APP.Models.LoginModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GS2</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <div class="login-container">
        <form asp-action="Verificar" method="post">
            @if (TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["MensagemErro"]
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3 class="text-center">Plataforma GS2</h3>
            <div class="form-group">
                <label for="username">Nome de usuário:</label>
                <input type="text" class="form-control" asp-for="Login" placeholder="Nome de usuário" value="@Model.Login" required aria-label="Nome de usuário">
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" class="form-control" asp-for="Senha" placeholder="Senha" required aria-label="Senha">
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>

            <div class="text-center">
                <a asp-controller="RedefinirSenha" asp-action="Index">Esqueci a senha</a>
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
